/* phone */
@media (max-width: 767px) {
    .navbar-toggler-icon {
      width: 1.2em;
    }
    .nav-logo {
      width: 8em !important;
    }
  
    .navbar-toggler {
      padding: .2em 0.5em !important;
    }
  
    .nav-tab {
      font-size: .8em;
    }
  
    .nav-btn {
      width: 90% !important;
      margin-top: 1em !important;
    }
  
    #title {
      font-size: 1.2em !important;
      line-height: 1.8em;
    }
  
    h1 {
      font-size: 1.2em !important;
    }
  
    h2 {
      font-size: 1em !important;
    }
  
    h3 {
      font-size: .8em !important;
    }
  
    p {
      font-size: .6em !important;
    }
  
    .nav-active{
      border: none !important;
    }
  
    .nav-tab {
      border-bottom: none !important;
    }
  
    /* landing phone */
    #landing {
      padding: 15% 1em;
    }

    .landing-content-R {
      width: 100% !important;
      margin-left: 0 !important;
      text-align: center !important;
    }

    #welcome-txt {
      text-align: center;
    } 

    #identity-div {
      text-align: center !important;
    }
  
    #identity-txt {
      margin-bottom: .5em !important;
    }
  
    #landing {
      height: 250px !important;
    }
  
    /* services phone */
    .service-box {
      width: 30vh !important;
      margin:0em !important;
      box-shadow: none !important;
    }
  
    .service-box h3 {
      font-size: .6em !important;
      margin-bottom: 0.5em !important;
    }
  
    #service-landing {
      height: 140px !important;
    }
  
    .landing-boxes {
      height: 50px !important;
    }
  
    .landing-boxes-small {
      height: 30px !important;
    }
  
    /* how it works phone */
    #how-it-works-landing {
      display: block !important;
    }
  
    #how-it-works-LC {
      width: 100% !important;
      padding: 0 !important;
    }
  
    #how-form {
      width: 100% !important;
      margin-bottom: 2em;
      padding: 2em 1em !important;
    }
    
    #how-form button{
      margin-top: 2em;
    }
    
    .form-col, .form-group {
      width: 100% !important;
      margin: 0 !important;
    }

    #how-it-works-RC {
      width: 100vw !important;
      padding: 2em 4em 2em 1em;
    }
  
    label {
      font-size: .7em;
    }
  
    input {
      font-size: .7em !important;
    }
  
    /* who we are phone */
    #who-we-are-L {
      padding: 2em !important;
    }
  
    #who-we-are p {
      padding: 0 0 2em 2em !important;
      width: 100% !important;
    }
  
    /* footer phone */
    #footer {
      padding: 1em 2em;
    }

    .footer-logo {
      width: 200px !important;
      margin-top: 2em;
      margin-bottom: 1em !important;
    }
  
    .footer-link a {
      margin: 0 !important;
      font-size: .7em;
    }
  
    .contacts {
      margin-top: .5em;
      margin-left: 1em;
      width: 100% !important;
    }

    .contact-img {
      height: 1.1em;
      margin-top: 0;
    }
  
    #who-we-are-R {
      padding: 1em 2em;
    }

    #who-we-are-R img{
      width: 100%;
    }

    .theme-btn {
      font-size: .7em !important;
    }
  
    /* about pg phone */
    .header-img {
      height: 100px !important;
      padding-top: 30px !important;
    }
  
    .about-content-sub {
      margin-bottom: 2em !important;
      display: block;
    }
  
    .about-img {
      width: 100% !important;
    }
  
    .about-text-L {
      width: 100% !important;
      padding-right: 1em !important;
    }
  
    .about-text-R {
      width: 100% !important;
      padding-right: 1em !important;
      margin-top: 2em;
      padding-left: 0 !important;
    }
  
    .about-content {
      padding-bottom: 1em !important;
    }
  
    /* about us philosophy */
    #phil-box .col {
      padding: 1em !important;
    }
  
    #phil-box {
      margin: 0 !important;
      padding: 1em !important;
    }
  
    #phil-box h3 {
      margin-top: 1em !important;
    }
  
    #phil-section {
      padding: 0 !important;
    }
    
    .value {
      margin: 1em .2em !important;
      width: 10em !important;
      padding: .5em 2em !important;
      text-align: center !important;
    }
  
    /* service page phone */
    .service-L {
      width: 100% !important;
      padding: 1em 2em;
    }
  
    .service-R {
      width: 100% !important;
      padding: 0 1em !important;
    }
  
    .service-page-box {
      margin: 0 0 2em 0 !important;
      width: 100% !important;
    }
  
    .service-R .row {
      margin-top: 0 !important;
    }
  }